__pycache__/
/misc
/data
/wrapped_data
**/val/
**/test/
results/custom-none-*/*.pt
results/raw-none-*/*.pt
results/*-9/*.pt
results/*-7/*.pt
results/*-5/*.pt
**/optimizer_best_epoch.pt
/slurm
/sample/results/**/*.npz
/3d-results/**/*.npz